body {
    margin: 0;
    padding: 0;

}

.container-fluid {
    padding: 0;

}

.main-container {
    padding-top: 5em;
}

.logo img {
    width: 80px;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 0;
}

.links a {
    text-decoration: none;
    margin: 0 1.5em;
    color: rgb(49, 46, 46);
    font-weight: bold;
}

.links a:hover {
    color: #4747cd;
}

ul {
    list-style-type: none;
}

.nav-button {
    margin-left: 4em;
}

.mainButton {
    font-weight: bold;
    background-color: #5e5af5;
    outline: none;
    border: none;
    color: white;
    padding: 0.5em 2em;
    border-radius: 15px;
}

.mainButton:focus {
    outline: none;
}

.mainButton:hover {
    background-color: #4747cd;
}

.main-heading {
    background-color: #5e5af5;
    height: 50vh;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 3em;
}

.main-heading h2 {
    color: white;
    font-weight: bolder;
}

.input input {
    background: #4747cd;
    outline: none;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.5em 1.5em;
    margin-right: -5px;
    color: white;
}

input:focus {
    color: white;
}

.input button {
    background-color: white;
    color: rgb(49, 46, 46);
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5em 1.5em;
    font-weight: bold;

}

::placeholder {
    color: white;
    font-weight: 600;
}

.mul-select {
    width: 100%;
}

.card-image img {
    width: 170px;
}

.card-image {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-column {
    margin: 1.5em 0;
}

.cards-column a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.671);
}

.cards-column:hover img {
    transition: all .5s ease 0s;
    transform: scale(1.15) rotate(-1.5deg);

}

.card {
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-footer {
    border: none;
}

.lectures,
.banner {
    background-color: white;
    padding: 1.5em;
    border-radius: 12px;
    margin-bottom: 2em;
}

.lectureId {
    font-weight: bold;
    color: #5e5af5;
}

.lectureDate {
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(247, 217, 162);
    padding: 2px 7px;
    color: rgb(196, 127, 0);
}

#dropdownMenuButton:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.banner-action {
    background-color: rgba(216, 216, 216, 0.247);
    padding: 0.8em 1em;
    color: rgba(0, 0, 0, 0.671);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.banner-action:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #5e5af5;
}

.nav-mobile {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #5e5af5;
    transition: 0.4s ease-in-out;
    z-index: 5;
    display: none;
}

.navbar-links {
    padding: 1em;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-links p {
    margin: 0;
    font-size: 12px;
}

.navbar-links>li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.navbar-links>li>a {
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}


@media only screen and (min-width: 320px) and (max-width: 1024px) {

    .links,
    .nav-button {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .custom-navbar {
        padding: 0 2em;
        justify-content: center;
    }

    .heading-wrapper {
        padding: 0 1em;
    }

    .input form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input {
        padding: 0 0.6em;
    }

    .input button {
        font-size: 12px;
        padding: 0.75em;
    }

    ::placeholder {
        font-size: 12px;
    }

    .lecture-wrapper,
    .banner-wrapper {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .nav-mobile {
        display: block;
    }

    .main-heading h2 {
        font-size: 24px;
    }

}
