*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.logo img {
  width: 150px;
}

.logo {
  display: flex;
  width: 34%;
  justify-content: flex-end;
}
.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background-color: #fddc11;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.4s ease-in-out;
}
.hamburger-menu {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.hamburger-wrapper {
  display: flex;
  align-items: center;
  color: #fddc11;
  font-weight: 500;
}
.hamburger-wrapper span {
  padding-left: 0.5em;
}
.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-background-color {
  background-color: #520081;
}
.menu-wrapper {
  padding: 0 3em;
  height: 15vh;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 4;
}
.main-button {
  background-color: #fddd11e0;
  color: black;
  font-weight: 500;
  padding: 10px 20px;
}
.main-button:hover {
  background-color: #01031f;
  color: #fddc11;
}
.second-button {
  background-color: #01031f;
  color: #fddc11;
  font-weight: 500;
  padding: 10px;
}
.second-button:hover {
  background-color: #fddc11;
  color: #01031f;
}
.buttons-hidden-lg {
  display: none;
}
.nav-mobile {
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  min-height: 100vh;
  transform: translateX(-110%);
  transition: 0.4s ease-in-out;
  z-index: 5;
}
.navbar-active {
  transform: translateX(0%);
}
.mobile-logo img {
  width: 120px;
}
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  margin-bottom: 20vh;
}
.close-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.7s ease-in;
}
.close-nav p {
  font-weight: 500;
  color: #01031f;
  margin: 0;
}
.close-nav i {
  font-size: 35px;
}
.close-nav-active {
  opacity: 1;
  transform: translateY(0%);
}
.navbar-links > li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 1em 2em;
  opacity: 0;
}
.navbar-links > li > a {
  text-decoration: none;
  color: #01031f;
  font-weight: 500;
}
.navbar-links li:nth-child(2) a,
.navbar-links li:nth-child(3) a {
  color: #fddc11;
}
.navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 0;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  background-color: #01031f;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
  background-color: #01031f;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.angledDiv::after,
.footer::before {
  position: absolute;
  content: "";
  transform-origin: top left;
  transform: skewY(-8deg);
  z-index: -1;
  left: 0;
  right: 0;
  background-color: inherit;
  height: 80vh;
  width: 100%;
}
.angledDiv {
  color: white;
  position: relative;
  top: 15vh;
  left: 0;
  right: 0;
  height: auto;
}
.main-container p {
  padding: 2em;
}
.main-container p > u {
  color: #f0d108;
  font-weight: 500;
}
.main-headline > h1 {
  padding-top: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4.5rem;
}
.minor-headline > p {
  font-size: 16px;
  padding-top: 0.7em;
  margin-top: 0;
}
.flex-button {
  display: flex;
  justify-content: center;
}
.filters-button{
  display: none;
}
.filtersContainer {
  margin-top: 5em;
  background-color: #c862ff27;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.filtersRow {
  padding: 1em;
}
.filtersRow > div {
  margin: 1em;
}
.filterSpan {
  margin-left: -1em;
}
.filtersWrapper input {
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.filters_Wrapper label, .filtersWrapper label {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
  text-align: center;
}
.filterContent , .checkboxAll, .submitBtn{
  background-color: white;
  color: #520081;
  padding: 0.3em 0;
  border: 1px solid #520081;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.checkboxAll{
  background-color: #520081;
  color: white;
}
.submitBtn{
  padding: 0;
}
.submitBtn input{
  position: relative;
  left: 0;
  right: 0;
  visibility: visible;
  border: none;
  outline: none;
  background-color: white;
  width: 100%;
  height: 100%;
  font-weight: 550;
}
.checkboxActive{
  background-color: #520081;
  color: white;
}
.cards-column {
  padding-bottom: 2em;
  z-index: 3;
}
.cards-column:hover img:nth-child(1) {
  transition: all .5s ease 0s;
  transform: scale(1.15) rotate(-1.5deg);
}
.cards-column:hover .panel-content{
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.4);
}
.cards-container {
  position: relative;
  top: 30vh;
  left: 0;
  right: 0;
}
.custom-panel {
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}
.panel-head {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.panel-head > img {
  height: 45vh;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.panel-content {
  width: 100%;
  height: 28vh;
  background-color: #ffffff;
  padding: 1.5em;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

}
.panel-content > img {
  width: 45px;
  background-color: rgba(22, 21, 21, 0.952);
  padding: 5px;
  margin-top: -4em;
}
.panel-content p > span {
  color: rgb(3, 168, 152);
  font-weight: 500;
}
.time-wrapper {
  padding-top: 1em;
  display: flex;
  color: black;
}
.time-wrapper i {
  font-size: 20px;
}
.time-wrapper > p {
  font-weight: 500;
}
.time-length {
  margin: -1em 2.5em;
}
.game-headline {
  font-weight: 500;
  color: black;
}
.modal-header {
  color: #fddc11;
}
.modal-body input {
  width: 100%;
  padding: 8px 12px;
}
.modal-footer button {
  width: 100%;
}
.footer {
  height: 80vh;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-navigation{
  border-top: 1px solid rgba(32, 30, 30, 0.288);
  color: white;
  box-sizing: border-box;
}
.links-list{
  list-style-type: none;
  display:flex;
  margin: 0;
  align-items: center;
  font-weight: 600;
}
.links-list>li{
  margin: 0 1.5em;
}
.links-list li:nth-child(3){
  margin-right: 0;
}
.links-list li:nth-child(1){
  margin-left: 0;
}
.links-list a{
  color:white;
  text-decoration: none;
}
.links-list a:hover{
  color: #01031f;
}
.footer-content{
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: space-around;
}
.footer-logo img{
  width: 150px;
}
.footer-logo{
  display: flex;
  justify-content: flex-start;
  width: 20%;
}
.social-icons-wrapper i{
  margin: 0 1em;
  font-size: 22px;
  color: #fddc11;
}
.social-icons-wrapper i:hover{
  color: #01031f;
}
.filters-button{
  margin-top: 3em;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  position: fixed;
  right: 0;
  left: 0;
  top: 50vh;
  z-index: 4;
}
.filters-button button{
  border-radius: 0;
  padding: 1em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.filters-button button i{
  font-size: 20px;
}
/* games page */
.games .menu-wrapper {
  background: transparent;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.main-background-img {
  background-image: url("../images/games-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.angledGame {
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
  top: 0;
}
.angledGame::after {
  position: absolute;
  content: "";
  transform-origin: top left;
  transform: skewY(-8deg);
  z-index: -1;
  left: 0;
  right: 0;
  top: 100vh;
  background-color: white;
  height: 52vh;
  width: 100%;
}
.gameHeadline {
  margin-top: 5em;
}
.gameHeadline > h1 {
  color: black;
}
.gameInfo {
  background-color: rgba(194, 189, 189, 0.295);
  padding: 1.8em;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
}
.gameContent {
  position: relative;
  z-index: 1;
  margin-bottom: 50vh;
}
.infoContent p {
  font-weight: 600;
  margin: 0;
  color: black;
}
.descriptionWrapper,
.stepWrapper {
  margin-top: 2em;
  line-height: 1.8em;
  border-bottom: 1px solid rgba(56, 56, 56, 0.205);
  text-align: left;
}
/* register page*/
.register{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(116, 114, 117, 0.199) 35%, rgba(0,212,255,0) 100%);
}
.register .menu-wrapper{
  position: relative;
}
.main-register-container{
  margin-top: 3.5em;
  margin-bottom: 15em;
  height: 100vh;
}
#register-heading{
  padding-left: 0.5em;
}
.form-group{
  box-sizing: border-box;
}
.form-group input, .form-group select, .form-group textarea{
  width: 100%;
  border: none;
  outline: none;
}
.form-control{
  display: inline-block;
}
.form-control:focus{
  border-color: none;
  outline: none;
  box-shadow: none;
}
.already-member{
  padding-top: 1em;
}
.bg-success, .bg-danger{
  padding: 1em;
  border-radius: 10px;
}
.img-banner figure img{
  width: 100%;
  height: 50vh;
  display: block;
  object-fit: cover;
  object-position: center center;
  max-width: 100%;
}
.img-banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 20px;
  border: 0px none;
}
.img-banner figure {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
  overflow: hidden;
}
.img-banner figure:nth-child(1){
  grid-row: 2 / 5;
}
.img-banner figure:nth-child(2){
  grid-row: 1 / 4;
}
.img-banner figure:nth-child(3){
  grid-row: 5 / 8;
}
.img-banner figure:nth-child(4){
  grid-row: 4 / 7;
}
figure:hover img{
  transition: all .5s ease 0s;
  transform: scale(1.15) rotate(-1.5deg);
}
.img-banner{
  overflow: hidden;
}
/* login page*/
.go-back-link a{
  text-decoration: none;
  color: #01031f;
}
.go-back-link:hover, .banner-holder:hover, .contact-banner-holder img:hover{
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
/*dashboard page*/
.banner-holder{
  background-image: url("../images/clipart.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.main-dash-container{
  position: relative;
  top:20vh;
  margin-bottom: 6em;
}
/*contact-page*/
.contact{
  background: rgb(255,255,255);
  background: linear-gradient(52deg, rgba(255,255,255,1) 58%, rgba(0,50,130,0.4471988624551383) 100%); 
}
.contact-banner-holder img{
  width: 100%;
}
.main-contact-container{
  position: relative;
  top:25vh;
  margin-bottom: 50vh;
}
.contact-form-wrapper{
  margin-bottom: 5em;
}
.contact-grid-image{
  background-image: url("../images/contact-grid.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.contact-info{
  text-align: left;
}
.contact-info h2{
  margin-bottom: 3em;
}
.contact-info a{
  text-decoration: none;
  color: #520081;
}
@media only screen and (max-width: 767px) {
  .menu-buttons {
    display: none;
  }
  .buttons-hidden-lg {
    display: inline;
  }
  .buttons-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .games .buttons-wrapper {
    height: 30vh;
    align-items: center;
  }
  .nav-mobile {
    width: 80%;
  }
  .logo img {
    width: 100px;
  }
  .logo {
    width: 100%;
    justify-content: center;
    padding-right: 3.5em;
  }
  .menu-wrapper {
    padding: 0 1em;
    height: 8vh;
  }
  .logo-wrapper {
    margin-bottom: 15vh;
    padding: 2em 1em;
  }
  .main-container {
    top: 8vh;
  }
  .games .main-container {
    top: 0;
  }
  .main-container p {
    padding: 1em;
    font-size: 12px;
  }
  .xs-hidden {
    display: none;
  }
  .panel-content {
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .modal-open .modal{
    width: 80%;
    margin: 0 auto;
  }
  .img-banner{
    display: none;
  }
  .cards-container{
    margin-bottom: 25vh;
  }
  .filtersContainer{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateY(-70%);
  transition: 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  }
  .filters-active{
  transform: translateY(-20%);
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 5;

  }
  .filtersWrapper{
    flex-direction: column;
  }
  .filters-button{
    display: flex;
  }
  .searchError{
    flex-direction: column;
    margin-bottom: 0;
  }
  .submitBtn{
  padding: 0.8em 0;
  color: #ff0831;
  }
  .main-register-container{
    margin-bottom: 35vh;
  }
  .form-wrapper{
    margin-bottom: 20vh;
  }
  .footer-content{
    flex-direction: column;
    align-items: center;
  }
  .footer-logo{
    justify-content: center;
  }
  .footer-logo img{
    width: 120px;
  }
  .gameInfo{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   }
   .banner-holder{
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-buttons {
    display: none;
  }
  .xs-hidden {
    display: none;
  }
  .panel-content {
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .buttons-hidden-lg {
    display: inline;
  }
  .buttons-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .games .buttons-wrapper {
    height: 30vh;
    align-items: center;
  }
  .nav-mobile {
    width: 100%;
    transform: translateY(-110%);
    background-color: #01031f;
    color: white;
  }
  .navbar-active {
    transform: translateY(0%);
  }
  .navbar-links {
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .navbar-links > li {
    border-bottom: 1px solid #fddb0010;
  }
  .navbar-links > li > a {
    color: white;
  }
  .close-nav p {
    color: white;
  }
  .logo img {
    width: 100px;
  }
  .logo {
    width: 100%;
    justify-content: center;
    padding-right: 3.5em;
  }
  .menu-wrapper {
    padding: 0 1em;
    height: 8vh;
  }
  .logo-wrapper {
    margin-bottom: 5vh;
    padding: 2em 1em;
  }
  .close-nav {
    transition: 1s ease-in;
  }
  .main-container {
    top: 8vh;
  }
  .main-container p {
    padding: 1em;
  }
  .games .main-container {
    top: 0;
  }
  .buttons-small {
    display: flex;
  }
  .img-banner{
    display: none;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .filtersContainer{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    background-color: white;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    }
    .filters-active{
    transform: translateY(-20%);
      opacity: 1;
      visibility: visible;
      position: absolute;
      z-index: 5;
  
    }
    .filtersWrapper{
      flex-direction: column;
    }
    .filters-button{
      display: flex;
    }
    .searchError{
      flex-direction: column;
      margin-bottom: 0;
    }
    .filters-button{
      top: 30vh;
    }
    .submitBtn{
      padding: 1.5em;
      color: #ff0831;
    }
 
}
